.background_div {
    justify-self: center;
    height: fit-content;
    text-align: center;
}

.background_div p {
    text-indent: 40px;
    text-align: left;
}

.background_div a {
    margin: 0%;
}

#body {
    margin: 5% 10%;
    overflow-y: visible;
}