.background_div {
    position: absolute;
    justify-self: center;
    height: 10rem;
    top: 40%;
}

#link {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

p img {
    width: 1rem;
    margin: 0%;
    margin-right: .3rem;
}