#body {
    height: 90vh;
}

#background_wrap{
    margin: 0;
    z-index: -1;
    position: fixed;
    height: 200%;
    width: 100%;
    background-image: url(https://c1.staticflickr.com/1/748/20445410340_c1a0fe6a6a_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body, header, nav {
    margin: 0%;
}

header, nav, #body, #nav_right, #projects, #small_projects {
    display: grid;
}

header, #projects, #small_projects {
    grid-template-columns: repeat(2, auto);
}

header, header a, nav, nav a {
    background-color: black;
    padding: 5px;
}

header {    
    place-items: center;
}

nav {
    justify-self: right;
    justify-content: end;
    grid-template-columns: repeat(6, auto);
}

header a, nav a {
    display: grid;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    place-content: auto center;
    grid-template-columns: repeat(2, auto);
}

a p {
    margin: 0%;
    padding: 0%;
}

header a:hover, nav a:hover {
    background-color: white;
    color: black;
}

h1, h2, p, .background_div, .background_div a, h3, img {
    margin: 10px;
}

#body {
    justify-content: center;
}

#name {
    justify-self: left;
}

#nav_right {
    justify-self: right;
    justify-content: right;
}

#heading {
    text-align: center;
}

.background_div {
    display: grid;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 10px;
    place-content: center;
}

#child_div p {
    margin: 0%;
    margin-left: 10px;
}

#projects img {
    opacity: 100%;
    width: 300px;
    border-radius: 10px;
    border: black 2px solid;
    box-shadow: 4px 3px 8px 1px #969696;
    justify-self: center;
}

#small_projects img {
    width: 150px;
}

nav img {
    width: 2rem;
    margin: .1rem;
}

@media only screen and (max-width: 1026px) {
    #projects, #small_projects {
        grid-template-columns: repeat(1, auto);
    }

    #body {
        place-content: auto;
    }

    #small_projects img {
        width: 300px;
    }

    a p {
        display: none;
    }
}

object {
    display: block;
}

#link a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0px;
}