html{
    height: 100vh;
    background-image: url(https://c1.staticflickr.com/1/748/20445410340_c1a0fe6a6a_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0%;
}

header {
    display: grid;
    background-color: black;
    margin: 0%;
    padding: 5px;
    grid-template-columns: repeat(2, auto);
    place-items: center;
}

nav {
    display: grid;
    background-color: black;
    margin: 0%;
    padding: 5px;
    justify-self: right;
    justify-content: end;
    grid-template-columns: repeat(3, auto);
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

a:hover {
    background-color: white;
    color: black;
}

h1, h2, p {
    margin: 10px;
}

#body {
    margin: 10px;
}

#name {
    justify-self: left;
}

#nav_right {
    display: grid;
    justify-self: right;
    justify-content: right;
}

.background_div {
    background-color: white;
    display: grid;
    border-radius: 10px;
    opacity: 80%;
}