body, #body {
    height: 90vh;
}

html{
    height: 100vh;
    background-image: url(https://c1.staticflickr.com/1/748/20445410340_c1a0fe6a6a_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body, header, nav {
    margin: 0%;
}

header, nav, #body, #nav_right, #projects, #small_projects, .background_div {
    display: grid;
}

header, #projects, #small_projects {
    grid-template-columns: repeat(2, auto);
}

header, nav, a {
    background-color: black;
    padding: 5px;
}

header, nav {
    background-color: black;
}

header {    
    place-items: center;
}

nav {
    justify-self: right;
    justify-content: end;
    grid-template-columns: repeat(3, auto);
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

a:hover {
    background-color: white;
    color: black;
}

h1, h2, p, #body, .background_div {
    margin: 10px;
}

#body {
    place-content: center;
}

#name {
    justify-self: left;
}

#nav_right {
    justify-self: right;
    justify-content: right;
}

#heading {
    text-align: center;
}

.background_div {
    background-color: white;
    border-radius: 10px;
    opacity: 80%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}